PORT=3000
CORS_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/b-farm
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d
ADMIN_USERNAME=username
ADMIN_PASSWORD=password
